<footer class="footer">
  <div class="container footer__container">
    <div class="logo-box">
      <a class="logo" href="">
        <svg>
          <use xlink:href="img/sprite.svg#logo"></use>
        </svg>
      </a>
      <p class="logo-mark">
        Фотостудия High pass<sup>&reg;</sup> 2018-2020
      </p>
    </div>
    <blockquote class="blockquote">
      <q class="quote">
        Которая из моих фотографий самая любимая?<br /> Та, которую я собираюсь снять завтра.
      </q>
      <cite class="autor">
        &copy; Имоджен Каннингем
      </cite>
    </blockquote>
    <div class="social footer__social">
      <span class="social-mark">
        Больше интересного:
      </span>
      <ul class="social">
        <li class="social__item"><a href="" class="social__link">
          <svg>
            <use xlink:href="img/sprite.svg#insta"></use>
          </svg>
        </a>
      </li>
        <li class="social__item"><a href="" class="social__link">
          <svg>
            <use xlink:href="img/sprite.svg#fb"></use>
          </svg>
        </a>
      </li>
        <li class="social__item"><a href="" class="social__link">
          <svg>
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
      </li>
      </ul>
    </div>
  </div>
</footer>
