<header class="header">
  <div class="container header__container">
    <a class="logo" href="">
      <svg>
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
    </a>
    <nav class="nav nav-desktop">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#about" class="nav__link">О студии</a>
        </li>
        <li class="nav__item">
          <a href="#projects" class="nav__link">Наши проекты</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Услуги</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Мастер-классы</a>
        </li>
        <li class="nav__item">
          <a href="#contacts" class="nav__link">Контакты</a>
        </li>
      </ul>
    </nav>
    <ul class="social">
      <li class="social__item"><a href="" class="social__link">
          <svg>
            <use xlink:href="img/sprite.svg#insta"></use>
          </svg>
        </a>
      </li>
      <li class="social__item"><a href="" class="social__link">
          <svg>
            <use xlink:href="img/sprite.svg#fb"></use>
          </svg>
        </a>
      </li>
      <li class="social__item"><a href="" class="social__link">
          <svg>
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="search">
      <button class="search__btn" id="call-form-btn">
        <svg class="search__img">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
      </button>
      <form method="get" class="search__form" aria-label="поиск по сайту">
        <label class="search__label">
          <input type="text" placeholder="Что будем искать?" class="search__input">
        </label>
        <button class="close-form-btn close" id="close-form-btn" type="button">
          <svg class="close-img">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
  <div class="container for-burger">

    <button class="burger-btn" id="burger" aria-label="раскрытие меню">
      <span class="burger-btn__line burger-btn__line_top"></span>
      <span class="burger-btn__line burger-btn__line_middle"></span>
      <span class="burger-btn__line burger-btn__line_bottom"></span>
    </button>

    <nav class="nav nav-burger">
      <ul class="nav__list">
        <li class="nav__item item-320">
          <button class="close-nav close" id="close-burger">
            <svg class="close-img">
              <use xlink:href="img/sprite.svg#close"></use>
            </svg>
          </button>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">О студии</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Наши проекты</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Услуги</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Мастер-классы</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Контакты</a>
        </li>
        <li class="nav__item item-320 phone-number">
          <a class="phone-number" href="tel:+749542423532">
            <svg class="phone">
              <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
            +7 (495) 42-423-532</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
