$mainColor: #202020;
$secondColor: #fff;
$thirdColor: #cacaca;

$btnColor: #FF6E30;
$btnHover: #BC572B;
$btnFocus: #CE4307;
$btnActive: #BC572B;

$linkHover: #FF6E30;
$linkFocus: #CE4307;
$linkActive: #BC572B;

$mainFont: 'Roboto';
$secondFont: 'TTFirs';
